<div style="margin-top: 60px">
  <ion-text class="courses-list-title font-largeTitle">Admin Usuarios</ion-text>

  <!-- Barra de búsqueda -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterNegocios()"
    debounce="300"
    show-clear-button="focus"
    class="custom"
    placeholder="Buscar usuario..."
    showCancelButton="focus"
  ></ion-searchbar>

  <!-- Botón Add Negocio -->
  <ion-button expand="block" id="open-modal" class="boton2">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Agregar Usuario
  </ion-button>
  <br />

  <!-- Modal para agregar negocio -->
  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <div class="block">
        <ion-header>
          <ion-toolbar>
            <ion-title>Agregar Usuario</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form (ngSubmit)="addNegocio(newNegocio)">
            <ion-item *ngFor="let input of addNegocioInputs">
              <ion-label position="stacked">{{ input.placeholder }}</ion-label>
              <ion-input
                [(ngModel)]="newNegocio[input.name]"
                [name]="input.name"
                [type]="input.type"
                required
              ></ion-input>
            </ion-item>
            <ion-item class="custom-item">
              <ion-label position="stacked">Selecciona un Rol</ion-label>
              <ion-select
                [(ngModel)]="selectedOption"
                name="selectedOption"
                placeholder="Selecciona..."
                required
              >
                <ion-select-option
                  *ngFor="let option of options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-button
              style="border-radius: 10px"
              class="boton2"
              expand="full"
              type="submit"
              >Agregar</ion-button
            >
          </form>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Lista de negocios -->
  <ion-text class="recent-title font-title3">Negocios</ion-text>
  <div class="section-list" style="max-height: 70vh; overflow-y: auto">
    <ion-grid class="section-grid">
      <ion-row>
        <ion-col
          *ngFor="let negocio of filteredNegocios; trackBy: trackNegocios"
          size-lg="6"
          size="12"
        >
          <ion-row
            class="section-container"
            [style.background]="getNegocioColor(negocio.id)"
          >
            <ion-col>
              <ion-text class="font-title2">{{ negocio.nombre }}</ion-text>
              <br />
              <ion-text class="font-body"
                >Rol: {{ negocio.direccion }}</ion-text
              >
              <br />
              <ion-button color="primary" id="delete-alert-{{ negocio.id }}">
                Eliminar
              </ion-button>
            </ion-col>

            <ion-alert
              trigger="delete-alert-{{ negocio.id }}"
              header="¿Estás seguro?"
              message="¿Seguro que quieres eliminar este negocio?"
              [buttons]="deleteNegocioButtons(negocio.id)"
            ></ion-alert>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más negocios..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>
