<div style="margin-top: 60px">
  <ion-text class="courses-list-title font-largeTitle">Catálogos</ion-text>

  <!-- Barra de búsqueda con la clase custom -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterNegocios()"
    debounce="300"
    show-clear-button="focus"
    class="custom"
    placeholder="Buscar negocio..."
    showCancelButton="focus"
  ></ion-searchbar>

  <!-- Lista reciente -->
  <ion-text class="recent-title font-title3">Negocios</ion-text>
  <div class="section-list" style="max-height: 70vh; overflow-y: auto">
    <ion-grid class="section-grid">
      <ion-row>
        <ion-col
          *ngFor="let negocio of filteredNegocios; trackBy: trackNegocios"
          size-lg="6"
          size="12"
        >
          <!-- Tarjeta de negocio con acordeón -->
          <ion-row
            class="section-container"
            [style.background]="getNegocioColor(negocio.id)"
          >
            <ion-col>
              <!-- Información básica del negocio -->
              <ion-text class="font-title2">{{ negocio.nombre }}</ion-text>
              <br />
              <div class="spacing"></div>
              <ion-text class="font-body">
                Teléfono: {{ negocio.telefono }}
              </ion-text>
              <br />
              <ion-text class="font-body">
                Correo: {{ negocio.correo }}
              </ion-text>
              <br />
              <ion-text class="font-body">
                Dirección: {{ negocio.direccion }}
              </ion-text>

              <!-- Acordeón para el menú del negocio -->
              <ion-accordion-group style="margin-top: 20px">
                <ion-accordion
                  style="background-color: transparent"
                  value="detalles_{{ negocio.id }}"
                >
                  <ion-item slot="header" class="accordion-header">
                    <ion-label class="accordion-label">Menú</ion-label>
                  </ion-item>
                  <div slot="content">
                    <ion-accordion-group>
                      <!-- Categorías principales -->
                      <ng-container
                        *ngFor="
                          let categoria of categorias;
                          trackBy: trackCategorias
                        "
                      >
                        <ion-accordion
                          style="background-color: transparent"
                          value="categoria_{{ categoria.id_categoria }}"
                        >
                          <ion-item slot="header" class="accordion-header">
                            <ion-label class="accordion-label">
                              {{ categoria.nombre_categoria }}
                            </ion-label>
                          </ion-item>
                          <div slot="content">
                            <ion-accordion-group>
                              <!-- Subcategorías -->
                              <ng-container
                                *ngFor="
                                  let subcategoria of categoria.subcategorias
                                "
                              >
                                <ion-accordion
                                  style="background-color: transparent"
                                  value="subcategoria_{{
                                    subcategoria.id_subcategoria
                                  }}"
                                  *ngIf="
                                    subcategoria.subcategoria_negocio_id ===
                                      categoria.id_categoria &&
                                    subcategoria.subcategoria_negocio_id ===
                                      negocio.id
                                  "
                                >
                                  <ion-item
                                    slot="header"
                                    class="accordion-header"
                                  >
                                    <ion-label class="accordion-label">
                                      {{ subcategoria.nombre_subcategoria }}
                                    </ion-label>
                                  </ion-item>
                                  <div slot="content">
                                    <ion-list
                                      style="background-color: transparent"
                                    >
                                      <!-- Productos -->
                                      <ng-container
                                        *ngFor="
                                          let menu of menus.get(negocio.id)
                                        "
                                      >
                                        <ion-item
                                          *ngIf="
                                            menu.categoria_id ===
                                              subcategoria.id_subcategoria &&
                                            menu.negocio_id === negocio.id
                                          "
                                          style="background-color: transparent"
                                        >
                                          <ion-label>
                                            <h2>{{ menu.nombre_producto }}</h2>
                                            <h3>{{ menu.descripcion }}</h3>
                                            <h3>
                                              <strong>Precio:</strong> ${{
                                                menu.precio
                                              }}
                                            </h3>
                                          </ion-label>
                                          <ion-thumbnail slot="start">
                                            <img
                                              [src]="
                                                menu.imagen ||
                                                'https://ionicframework.com/docs/img/demos/thumbnail.svg'
                                              "
                                              alt="Imagen del producto"
                                              (error)="handleImageError($event)"
                                            />
                                          </ion-thumbnail>
                                        </ion-item>
                                      </ng-container>
                                    </ion-list>
                                  </div>
                                </ion-accordion>
                              </ng-container>
                            </ion-accordion-group>
                          </div>
                        </ion-accordion>
                      </ng-container>
                    </ion-accordion-group>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Infinite Scroll (opcional) -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más negocios..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>
