<div style="margin-top: 60px">
  <ion-text class="courses-list-title font-largeTitle">
    Admin tus Negocios
  </ion-text>

  <!-- Barra de búsqueda -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterNegocios()"
    debounce="300"
    show-clear-button="focus"
    class="custom"
    placeholder="Buscar negocio..."
    showCancelButton="focus"
  ></ion-searchbar>

  <!-- Modal para actualizar negocio -->
  <ion-modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" #modalNegocio>
    <ng-template>
      <div class="block">
        <ion-header>
          <ion-toolbar>
            <ion-title>Actualizar Negocio</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form (ngSubmit)="updateNegocio()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input
                [(ngModel)]="negocioSeleccionado.nombre"
                name="nombre"
                type="text"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Teléfono</ion-label>
              <ion-input
                [(ngModel)]="negocioSeleccionado.telefono"
                name="telefono"
                type="text"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Correo</ion-label>
              <ion-input
                [(ngModel)]="negocioSeleccionado.correo"
                name="correo"
                type="email"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Dirección</ion-label>
              <ion-input
                [(ngModel)]="negocioSeleccionado.direccion"
                name="direccion"
                type="text"
                required
              ></ion-input>
            </ion-item>

            <ion-button
              style="border-radius: 10px"
              class="boton2"
              expand="full"
              type="submit"
            >
              Actualizar
            </ion-button>
          </form>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Modal para agregar mesa -->
  <ion-modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" #modalMesas>
    <ng-template>
      <div class="block">
        <ion-header>
          <ion-toolbar>
            <ion-title>Agregar Mesa</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form (ngSubmit)="addMesa()">
            <ion-item>
              <ion-label position="stacked">Numero</ion-label>
              <ion-input
                [(ngModel)]="mesaSeleccionado.numero"
                name="nombre"
                type="number"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Capacidad</ion-label>
              <ion-input
                [(ngModel)]="mesaSeleccionado.capacidad"
                name="telefono"
                type="number"
                required
              ></ion-input>
            </ion-item>

            <ion-button
              style="border-radius: 10px"
              class="boton2"
              expand="full"
              type="submit"
            >
              Agregar Mesa
            </ion-button>
          </form>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Lista de negocios -->
  <ion-text class="recent-title font-title3">Tus Negocios</ion-text>
  <div class="section-list" style="max-height: 70vh; overflow-y: auto">
    <ion-grid class="section-grid">
      <ion-row>
        <ion-col
          *ngFor="let negocio of filteredNegocios; trackBy: trackNegocios"
          size-lg="6"
          size="12"
        >
          <ion-row
            class="section-container"
            [style.background]="getNegocioColor(negocio.id)"
          >
            <ion-col>
              <ion-text class="font-title2">{{ negocio.nombre }}</ion-text>
              <br />
              <ion-text class="font-body">
                Teléfono: {{ negocio.telefono }}
              </ion-text>
              <br />
              <ion-text class="font-body">
                Correo: {{ negocio.correo }}
              </ion-text>
              <br />
              <ion-text class="font-body">
                Dirección: {{ negocio.direccion }}
              </ion-text>
              <br />
              <br />

              <!-- Botón para abrir modal de actualización -->
              <ion-button
                expand="block"
                class="boton2"
                (click)="openUpdateModal(negocio, modalNegocio)"
              >
                <ion-icon slot="start" name="create-outline"></ion-icon>
                Actualizar Negocio
              </ion-button>
              <br />
              <ion-accordion-group s>
                <ion-accordion style="background-color: transparent">
                  <ion-item
                    slot="header"
                    class="accordion-header"
                    style="background-color: transparent"
                    (click)="cargarMesas(negocio.id)"
                  >
                    <ion-label>Mesas de {{ negocio.nombre }}</ion-label>
                  </ion-item>
                  <div slot="content">
                    <ion-accordion-group>
                      <div *ngIf="mesas && mesas.length > 0; else noMesas">
                        <ng-container
                        *ngFor="let mesa of mesas"
                        >
                          <ion-item>
                            <ion-label>
                              <h3>Mesa : {{ mesa.numero }}</h3>
                            </ion-label>
                            <!-- Botón eliminar mesas -->
                            <ion-button
                              color="danger"
                              fill="clear"
                              (click)="mesa.id ? deleteMesa(mesa.id) : null"
                              slot="end"
                            >
                              <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                          </ion-item>
                        </ng-container>
                      </div>
                      <ion-button
                        expand="block"
                        class="boton2"
                        (click)="openAddEmpleadoModal(negocio, modalMesas)"
                      >
                        <ion-icon
                          slot="start"
                          name="person-add-outline"
                        ></ion-icon>
                        Agregar Mesa
                      </ion-button>
                    </ion-accordion-group>
                    <ng-template #noMesas>
                      <ion-item>
                        <ion-label>No se encontraron mesas para este negocio.</ion-label>
                      </ion-item>
                    </ng-template>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más negocios..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</div>
